
@{
    ViewBag.Title = "SearchResponse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchResponse</h2>

<div class="request">
    @using (Html.BeginForm("SearchResponse", "Search", new { group = 1 }, FormMethod.Get))
    {
        <input type="text" size=140 lang=100 placeholder="Поиск..." name="query" value="@ViewData["query"]"/>
        <input type="submit" value="Search">
    }
</div>
@foreach (int elem in ViewData["list"])
{ elem }


