@{
    ViewBag.Title = "HomePage";
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cluster Web Searcher</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2 class="title">Добро пожаловать на кластерный веб-поисковик!</h2>
    <br><br><br>
    <div class="request">
        <form action="" method="get">
            <input type="text" name="query"/>
            <input type="submit" value="Search">
        </form>
    </div>


</body>
</html>
