h1 {
color: #800;
text-align: center; 
font-size:30px
}
h2 {
color: #088;
text-align: center; 
font-size:18px
}
div.blok1 {
background-image: url(graphics/fon2.gif); 
border: #000 2px solid; 
padding: 5px;
width: 800px; 
height: 4000px;
}
div.blok2 { 
position: fixed; 
left: 250px; 
top: 300px; 
border: #080 6px double; 
padding: 5px; 
width: 300px; 
}
